@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #0A2E73;
  --color-accent: #FF7A00;
}

@layer base {
  body {
    @apply font-sans bg-gray-50 text-gray-900;
  }
}

